<nav class="px-4 py-3 sm:px-8 border-b-2 border-[#1e3a58] bg-[#ffffffe6]">
  <div
    class="nav-container w-full xl:w-[80%] m-auto flex items-center justify-between text-[#1e3a58]"
  >
    <div class="flex items-center">
      <img
        class="w-[120px] lg:w-[200px] lg:border-r lg:border-[#1e3a58] lg:mr-10 lg:pr-10 cursor-pointer outline-none"
        src="images/logo.webp"
        routerLink="/"
        alt="logo"
        width="200"
        height="80"
      />
      <div class="hidden lg:flex items-center gap-4">
        <a [routerLink]="['/']">Inicio</a>
        <a routerLink="agentes">Agentes</a>
        <a routerLink="propiedades">Propiedades</a>
        <a routerLink="proyectos">Proyectos</a>
        <a class="cursor-pointer" (click)="contactFormVisible = true"
          >Contacto</a
        >
      </div>
    </div>

    <div class="hidden lg:flex items-center gap-4">
      @if (authService.isLoggedInSubject | async) {
      <a (click)="authService.logout()" class="cursor-pointer">Cerrar sesión</a>
      <a class="bg-[#1e3a58] text-white rounded-full px-3 py-2 cursor-pointer"
        >Panel Administrativo</a
      >
      }@else {

      <a (click)="loginVisible = true" class="cursor-pointer">Ingresar</a>
      <a
        (click)="sellPropertyVisible = true"
        class="bg-[#1e3a58] text-white rounded-full px-3 py-2 cursor-pointer"
        >Vender Propiedad</a
      >
      }
    </div>

    <button
      #menu
      (click)="openSidebar()"
      class="block lg:hidden hamburger"
      aria-label="hamburger button"
    >
      <i class="fa-solid fa-bars text-lg"></i>
    </button>
  </div>
</nav>

<p-sidebar [(visible)]="sidebarVisible">
  <h2 class="p-4 text-center text-xl font-bold">MENÚ</h2>
  <div class="flex flex-col text-center gap-3">
    <a
      class="cursor-pointer hover:font-semibold"
      [routerLink]="['/']"
      (click)="openSidebar()"
      >Inicio</a
    >
    <a
      class="cursor-pointer hover:font-semibold"
      routerLink="agentes"
      (click)="openSidebar()"
      >Agentes</a
    >
    <a
      class="cursor-pointer hover:font-semibold"
      routerLink="propiedades"
      (click)="openSidebar()"
      >Propiedades</a
    >
    <a
      class="cursor-pointer hover:font-semibold"
      routerLink="proyectos"
      (click)="openSidebar()"
      >Proyectos</a
    >
    <a (click)="contactFormVisible = true">Contacto</a>

    @if (authService.isLoggedInSubject | async) {
    <a (click)="authService.logout()" class="cursor-pointer">Cerrar sesión</a>
    <a
      (click)="openSidebar()"
      class="bg-[#1e3a58] text-white rounded-full px-3 py-2 cursor-pointer"
      >Panel Administrativo</a
    >
    }@else {
    <a (click)="loginVisible = true" class="cursor-pointer hover:font-semibold"
      >Ingresar</a
    >
    <a
      (click)="sellPropertyVisible = true"
      class="bg-[#1e3a58] text-white rounded-full px-3 py-2 cursor-pointer text-center mt-5"
      >Vender Propiedad</a
    >
    }
  </div>
</p-sidebar>

<p-dialog
  [(visible)]="sellPropertyVisible"
  [modal]="true"
  [draggable]="false"
  styleClass="max-w-[500px]"
>
  <ng-template pTemplate="header">
    <div>
      <h1 class="text-2xl font-bold">¿Quieres Vender?</h1>
      <p class="mt-1 text-sm">
        Vende tu inmueble con nosotros, llena tus datos y te contactaremos
      </p>
    </div>
  </ng-template>
  <app-contact-sell-property-form></app-contact-sell-property-form>
</p-dialog>

<p-dialog
  [(visible)]="contactFormVisible"
  [modal]="true"
  [draggable]="false"
  [style]="{ 'max-width': '500px' }"
>
  <ng-template pTemplate="header">
    <h1 class="text-2xl font-bold">Envianos un Mensaje</h1>
  </ng-template>
  <app-contact-form></app-contact-form>
</p-dialog>

<p-dialog
  [(visible)]="loginVisible"
  [modal]="true"
  [draggable]="false"
  [style]="{ 'width': '500px' }"
>
  <ng-template pTemplate="header">
    <span class="text-2xl font-bold">Iniciar Sesión</span>
  </ng-template>
  <app-login (visible)="loginVisible = $event"></app-login>
</p-dialog>
