<div class="flex flex-col gap-3">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      Solicita Más Información
    </h5>
    <div>
      @if (ROLE && ROLE == userType.AGENTE) {
      <div>
        <img
          class="w-[200px] rounded-xl mb-3"
          [src]="user().image_profile"
          alt="agent image profile"
        />
        <p>
          {{ user().first_name }}
          {{ user().last_name }}
        </p>
        <p>
          {{ user().phone }}
        </p>
      </div>
      } @if (ROLE && ROLE == userType.ADMIN) {
      <div>
        <img
          class="w-[200px] rounded-xl mb-3"
          [src]="user().image_profile"
          alt="admin image profile"
        />
        <p class="font-semibold">
          {{ user().first_name }}
          {{ user().last_name }}
        </p>
        <div class="flex">
          <p-button
            styleClass="p-0 !bg-[#00a884] border !border-[#00a884]"
            (onClick)="sendWhatsapp()"
            aria-label="send button"
            icon="pi pi-whatsapp"
          ></p-button>
          <a
            (click)="sendWhatsapp()"
            class="flex ml-2 justify-center items-center"
          >
            {{ user().phone }}
          </a>
        </div>
      </div>
      }
    </div>
    @if (isLink()) {
    <div>
      <img
        class="w-[200px] rounded-xl mb-3"
        [src]="user().image_profile"
        alt="image profile by link"
      />
      <p class="font-semibold">
        {{ user().first_name }}
        {{ user().last_name }}
      </p>
      <div class="flex">
        <p-button
          styleClass="p-0 !bg-[#00a884] border !border-[#00a884]"
          (onClick)="sendWhatsapp()"
          aria-label="send button"
          icon="pi pi-whatsapp"
        ></p-button>
        <a
          (click)="sendWhatsapp()"
          class="flex ml-2 justify-center items-center"
        >
          {{ user().phone }}
        </a>
      </div>
    </div>
    }

    <form
      class="flex flex-col gap-3 mt-3"
      [formGroup]="formContact"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <input
          type="text"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Nombre completo"
          formControlName="name"
          required
        />
      </div>
      <div>
        <input
          type="email"
          formControlName="email"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Correo electrónico"
          required
        />
      </div>
      <div>
        <input
          type="number"
          formControlName="phone"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Teléfono"
          required
        />
      </div>
      <div>
        <textarea
          id="message"
          formControlName="message"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Mensaje"
        ></textarea>
      </div>
      <button
        type="submit"
        aria-label="submit button"
        class="text-white w-full bg-[#1e3a58] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2"
      >
        Enviar
      </button>
    </form>
  </div>
  @if (ROLE && showButtons()) { @if (CURRENT_AGENT_ID ==
  property().created_by.id || ROLE == userType.ADMIN) {
  <div
    class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col gap-3"
  >
    <button
      type="button"
      (click)="editModal = true"
      aria-label="edit button"
      class="text-white w-full bg-[#1e3a58] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2"
    >
      Editar Propiedad
    </button>
    @if (ROLE == userType.ADMIN) {
    <button
      type="button"
      aria-label="update button"
      (click)="updateEstate(propertyState.REMOVED, property())"
      class="text-white w-full bg-[#EF4444] hover:bg-[#DC2626] focus:ring-4 focus:ring-[#EF4444] font-medium rounded-lg text-sm px-5 py-2.5 mr-2"
    >
      Eliminar Propiedad
    </button>
    }
  </div>
  } }
</div>

@if (editModal) {
<p-dialog
  header="Actualizar Propiedad"
  [(visible)]="editModal"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '80vw' }"
  [autoZIndex]="false"
  [baseZIndex]="50"
>
  <!-- <app-property-form
      [isEdit]="editModal"
      [selectedProperty]="property"
    ></app-property-form> -->
</p-dialog>
}
