<!-- Pagination -->
<nav>
  <ul class="flex justify-center items-center -space-x-px h-10 text-base">
    <li>
      <a
        (click)="previous()"
        [ngClass]="{
          'opacity-50 hover:text-gray-500': pageOptions == 1,
          'hover:bg-gray-100 hover:text-gray-700': pageOptions != 1
        }"
        class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg"
      >
        <span class="sr-only">Previous</span>
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
      </a>
    </li>

    @if (showCount()) {
    <li>
      <div
        class="w-full flex gap-2 items-center justify-center px-4 h-10 leading-tight border cursor-pointer text-gray-500 bg-white border-gray-300"
      >
        <span class="text-base hidden md:block">MOSTRANDO</span>
        <span class="font-bold text-sm"> {{ count() }} propiedades </span>
      </div>
    </li>
    }

    <li>
      <a
        (click)="next()"
        [ngClass]="{
          'opacity-50 hover:text-gray-500': !hasNext(),
          'hover:bg-gray-100 hover:text-gray-700': hasNext()
        }"
        class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg"
      >
        <span class="sr-only">Next</span>
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </a>
    </li>
  </ul>
</nav>
