<p-button
  label="Descarga de imágenes en bloque"
  aria-label="descarga de imagenes button"
  (onClick)="downloadBulk()"
></p-button>
@for (item of images(); track $index; let i = $index) {
<div class="mt-3">
  <div class="hidden xl:block relative">
    <p-image
      styleClass="cursor-pointer"
      [src]="item ? item.file_watermark : 'assets/images/ph-room.png'"
      alt="Image"
      width="800"
      (click)="displayGallery = true; activeIndex = i"
      [preview]="false"
      (onImageError)="errorImage(i)"
      appendTo="body"
    ></p-image>
    <span class="absolute top-3 right-3 z-50">
      <div class="flex flex-col gap-2 text-end">
        <!-- <ng-container *ngIf="this.authService.currentLoggedUser">
            <p-button
              *ngIf="this.authService.currentLoggedUser!.role == USER_TYPE.ADMIN"
              aria-label="currentLoggedUser button"
              (onClick)="downloadSingleOriginal(item)"
              label="Original"
            ></p-button>
          </ng-container> -->
        <p-button
          (onClick)="downloadSingleWater(item)"
          aria-label="descarga individual button"
          label="Marca de Agua"
        ></p-button>
      </div>
    </span>
  </div>
  <div class="xl:hidden relative">
    <p-image
      styleClass="cursor-pointer"
      [src]="item ? item.file_watermark : 'assets/images/ph-room.png'"
      (click)="displayGallery = true; activeIndex = i"
      alt="Image"
      [preview]="false"
      (error)="errorImage(i)"
      appendTo="body"
    ></p-image>
    <span class="absolute top-3 right-3 z-50">
      <div class="flex flex-col gap-2 text-end">
        <!-- <ng-container *ngIf="this.authService.currentLoggedUser">
            <p-button
              *ngIf="this.authService.currentLoggedUser!.role == USER_TYPE.ADMIN"
              aria-label="currentLoggedUser button"
              (onClick)="downloadSingleOriginal(item)"
              label="Original"
            ></p-button>
          </ng-container> -->
        <p-button
          (onClick)="downloadSingleWater(item)"
          aria-label="descarga infividual button"
          label="Marca de Agua"
        ></p-button>
      </div>
    </span>
  </div>
</div>
}

<p-galleria
  [value]="images()"
  [(visible)]="displayGallery"
  [activeIndex]="activeIndex"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '850px' }"
  [numVisible]="7"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item ? item.file_watermark : 'images/ph-room.png'"
      style="width: 100%; display: block"
      alt="default gallery image"
    />
  </ng-template>
</p-galleria>
