<div class="w-[80%] mx-auto pb-28">
  <h1
    class="text-lg lg:text-5xl text-start font-normal border-b border-[#ecc27d] text-[#ecc27d] mb-10 pb-2"
  >
    Nuestros asesores inmobiliarios
  </h1>
  <p-carousel
    [value]="userService.agents()"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoPlayInterval="3000"
    [showIndicators]="false"
  >
    <ng-template let-agent pTemplate="item">
      <div
        class="w-full max-w-sm m-auto bg-[#f7f6f5] border border-gray-200 rounded-lg"
      >
        <div class="flex flex-col items-center py-10">
          <img
            [routerLink]="['agentes', agent.id]"
            class="w-24 h-24 lg:w-44 lg:h-44 xl:w-52 xl:h-52 mb-3 rounded-full shadow-lg cursor-pointer"
            [src]="agent.image_profile"
            alt="carousel image"
          />
          <h2 class="mt-4 text-xl lg:text-2xl font-semibold text-gray-900">
            {{ agent.full_name }}
          </h2>
          <p class="mt-2 mb-4 text-base font-normal text-gray-900">
            {{ agent.email }}
          </p>
          <div class="flex">
            <a
              [routerLink]="['agentes', agent.id]"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-[#1e3a58] rounded-lg hover:bg-[#1e3a58]/80 focus:ring-4 focus:outline-none focus:ring-blue-300"
              >Ver Propiedades</a
            >
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
